@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');


body{
    width: 100%;
    background-color: plum}
    
    .logo{
        width: 150px;
        height: 300%;
        border-radius: 90%;
       }
       .perso{
       color:rgb(30, 1, 1);
       font-size:30px;
        margin-left: 500px;
        margin-top: -130px;}
           
       .carregue{
        color: white;
       font-size:15px;
       margin-top: 30px;
       margin-left: 450px;
       }
       .borda{
        border: solid 1px;
       color: aqua;
       margin: 70px;
       width: 80%;
       }
       
       .kk{
           height: 10px;
           position: relative;
           margin: 0;
           position: absolute;
           top: 22%;
           left: 28%;
          
        }
       .button {
       border: #0a0a0a;
       background-color: #00dfd8;
        border-radius: 15PX; 
       color: #00dfd8;
       color: white;
       padding: 15px 32px;
       margin-left: 900px;
       text-decoration: none;
       display: inline-block;
        font-size: 16px;
       margin: 30px 2px;
       }
       .button:hover{
       margin-left: 3px;
       background-color: rgb(250, 30, 202);
        color:white}
       
        .lupa{
           margin-left: 950px;
           margin-top: -60px;
           width:60px;}

           #triangulo-para-cima {
            width: 0; 
            height: 0; 
            margin-left:1200px;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 50px solid #003ba9;
          }
          .catalogo{
            font-size: 30px;
            color: rgb(0, 0, 0);
            font-family:fantasy;
        }
.item{  
    margin: 8px;
border: #000000;
background-color: #ffffff;
border-radius: 15PX; 
 color: rgb(0, 0, 0);
 width: 100px;
padding:15px 3px;
margin-left: 0px;
text-decoration: none;
 font-size:16px;
}
.ney{
    border-radius:15px;
    background-color: #ffffff;
    width: 130px;
    display: flex;
    margin-left: 190px;
    margin-top: -400px;
}
.ooo{
    width: 80px;
    border-radius: 15px;
    background-color: rgb(231, 1, 139);
    margin-left: 220px;
    margin-top:-15px;
}
.neyy{
    border-radius:15px;
    background-color: #ffffff;
    width: 130px;
    display: flex;
    margin-left: 400px;
    margin-top: -180px;
}
.lolm{
    width: 80px;
    border-radius: 15px;
    background-color: rgb(231, 36, 228);
    margin-left: 430px;
    margin-top:-15px;
}

.mmm{  
    border-radius:15px;
    background-color: #ffffff;
    width: 130px;
    display: flex;
    margin-left: 600px;
    margin-top: -180px;
}
.kkk{
    width: 80px;
    border-radius: 15px;
    background-color: rgb(58, 234, 0);
    margin-left: 630px;
    margin-top:-15px;
}
.vvv{

    border-radius:15px;
    background-color: #ffffff;
    width: 130px;
    display: flex;
    margin-left: 800px;
    margin-top: -180px;
}
.yyy{
   
    margin-top: -10px;
    background-color: deepskyblue;
    width: 80px;
border-radius: 15px;
margin-left: 820px;
}