@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

body{
  width: 100%;
    background-image: linear-gradient(to bottom, rgba(197, 0, 168, 0.556) , rgb(0, 144, 169));
    
}
     
#pp{
   width: 150px;
   height: 300%;
   border-radius: 90%;
}
.dd{
  
    color:rgb(30, 1, 1);
    font-size:30px;
    margin-left: 500px;
    margin-top: -150px;
}
.kk{
    align-items: center;
color: white;
font-size:20px;
margin-top: -30px;
}
.button {
 border: #0a0a0a;
    background-color: #00dfd8;
    border-radius: 15PX; 
    color: #00dfd8;
    color: white;
    padding: 15px 32px;
    margin-left: 700px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    }
    .button:hover{
        margin-left: 3px;
        background-color: rgb(113, 0, 106);
    color:white
    }
    .nn{
      width: 100px;
      margin-top: -100px;
      margin-left: 600px;
    }
    .ll{
        font-size: 20px;
        color: azure;
        display: flex;
        margin-left: -400px;
        margin-top: 50px;
        background-color: rgba(243, 243, 243, 0.368);
        border-radius: 25px;
        width: 350px;
        height: 200px;
    }
    #mq{
        top:60px;
        width: 200px;
        height: 200px;
    }
       .mpp{ 
        margin-left: 800px;
        width: 200px;
        height: 150px;
    }

    .bbb{
        font-size: 20px;
        color: azure;
        display: flex;
        margin-left: 900px;
        margin-top: -190px;
        background-color: rgba(243, 243, 243, 0.368);
        border-radius: 25px;
        width: 350px;
        height: 200px;
    }
.iii{
    font-size: 20px;
    color: azure;
    display: flex;
    margin-left: 90px;
    margin-top: 110px;
   justify-content: center;
    background-color: rgba(243, 243, 243, 0.368);
    border-radius: 25px;
    width: 350px;
    height: 110px;
}
.i{
    font-size: 20px;
    color: azure;
    display: flex;
    margin-left: 910px;
    margin-top: -110px;
   justify-content: center;
    background-color: rgba(243, 243, 243, 0.368);
    border-radius: 25px;
    width: 350px;
    height: 110px;
}
.fale{
    justify-content: space-between;
    margin: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  
}
.boo{
   border: solid 1px;
   color: #00dfd8;

}




